@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,700&family=Montserrat:wght@300;500;700&display=swap");
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 550px;
  background-color: var(--white);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  background-color: var(--white);
}
.card .card-img {
  background-image: url(../images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card .card-content {
  padding: 20px;
}
.card .card-content .card-type {
  letter-spacing: 3px;
  font-weight: 300;
}
.card .card-content h2 {
  font-family: "Fraunces", serif;
}
.card .card-content .next-line::before {
  content: "\A";
  white-space: pre;
}
.card-content article {
  margin: 14px 0px;
  font-size: 14px;
  font-weight: 300;
}
.card-content .product-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  font-family: "Fraunces", serif;
}
.card-content .discount-price {
  color: var(--dark-cyan);
  font-size: 30px;
  margin: 16px 0px;
  font-weight: 700;
}
.card-content .fixed-price {
  text-decoration: line-through;
  font-weight: 300;
  font-size: 14px;
}
.buy-now {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white);
  background-color: var(--dark-cyan);
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  padding: 15px 30px;
}
